@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px; /* slightly larger default font */
}

html {
  scroll-behavior: smooth;
  color-scheme: light; /* force light mode */
}

html, body, #__next {
  height: 100%;
}
